{% extends 'base.html' %} {% block title %}Register 2 - UOttawa Health Club{%
endblock %} {% block content %}
<main>
    <form action="handle_register" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required />
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" required />
        </div>
        <div>
            <label for="role">Role:</label>
            <select
                id="role"
                name="role"
                required
                onchange="updateButtonText()"
            >
                <option value="">Select a role...</option>
                <option value="Administrator">Administrator</option>
                <option value="Member">Member</option>
                <option value="Trainer">Trainer</option>
            </select>
        </div>

        <div>
            <button type="submit" id="submitBtn">START NOW</button>
        </div>
    </form>

    <script>
        function updateButtonText() {
            var role = document.getElementById('role').value;
            var submitBtn = document.getElementById('submitBtn');
            if (role === 'Member') {
                submitBtn.textContent = 'NEXT PAGE';
            } else {
                submitBtn.textContent = 'START NOW';
            }
        }
    </script>
</main>
{% endblock %}
